body {
  background: #e72465;
}

h1 {
  font-family: "Indie Flower", cursive;
  color: white;
  font-size: 60px;
  font-weight: 700;
}

.container {
  max-width: 600px;
}
.btn {
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus {
  outline: none !important;
}
.username {
  font-weight: bold;
}
.time {
  font-size: 0.7em;
  color: #999;
}

.hbtn {
  border: 1px solid white;
  background-color: #fff;
  padding: 5px;
  color: #e72465;
  font-weight: 600;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 80px;
  text-align: center;
}
.hbtn:hover {
  text-decoration: none;
  color: #e72465;
  box-shadow: 1px 1px 9px 2px white;
}
